.task-form {
    margin-top: 20px;
    margin-left: 15px;
  }
  
  .task-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .task-form input,
  .task-form textarea {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
  }

  .task-form .input-group {
    margin-bottom: 15px;
  }
  
  .task-form button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  